@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;

  &::-webkit-scrollbar {
    width: 0px;
    height: 2px;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.hero {
  // background: linear-gradient(to bottom, #e6edf8, #e1ecfb, #eef4fd, #d8e5f7);

  .title {
    background: linear-gradient(to bottom, #c0c0c0 5%, #fff 35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    font-weight: 650;
    line-height: 1.1;
    user-select: none;
  }

  .sub-title {
    background: linear-gradient(to right, #c0c0c0, #fff);
    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
  }
}

@media (max-width: 640px) {
}
