@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0px;
    height: 2px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;

  &.scrolled {
    background: #fff;
    transition: all 0.3s ease-in-out;
  }
}

.hero {
  // background: linear-gradient(to bottom, #e6edf8, #e1ecfb, #eef4fd, #d8e5f7);

  .title {
    background: linear-gradient(to bottom, #c0c0c0 5%, #fff 35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    font-weight: 650;
    line-height: 1.1;
  }

  .sub-title {
    background: linear-gradient(to right, #c0c0c0, #fff);
    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
  }
}

.scroll-container {
  overflow: hidden;
  position: relative;
  user-select: none;

  /* Add pseudo-elements for the white inner shadow */
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 170px; /* Adjust as needed for shadow size */
    pointer-events: none; /* Ensure no interference with interactions */
    z-index: 2; /* Keep it above the scrolling content */
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  }

  > ul {
    animation: scroll 20s linear infinite;
    position: relative;
    z-index: 1; /* Keep the content below the pseudo-elements */
  }

  /* Blur elements as they reach the edges */
  > ul li {
    transition: filter 0.3s; /* Smooth transition for the blur effect */
  }

  // &:hover > ul li {
  //   filter: blur(5px);
  // }
}

.scroll-reverse-container {
  overflow: scroll;
  position: relative;
  user-select: none;

  /* Add pseudo-elements for the white inner shadow */
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 170px; /* Adjust as needed for shadow size */
    pointer-events: none; /* Ensure no interference with interactions */
    z-index: 2; /* Keep it above the scrolling content */
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  }

  > ul {
    animation: scrollReverse 10s linear infinite;
    position: relative;
    z-index: 1;
  }

  > ul li {
    transition: filter 0.3s;
  }

  // &:hover > ul li {
  //   filter: blur(5px);
  // }
}

.about-section {
  > ul {
    animation: scroll 30s linear infinite;
    position: relative;
    z-index: 1; /* Keep the content below the pseudo-elements */
  }
}

.testaments {
  &::-webkit-scrollbar {
    width: 0px;
    height: 2px;
    // background: #000;
  }
  /*&::-webkit-scrollbar-thumb {
    color: #247;
    background-color: #247;
    width: 30px;
  }*/
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  > div {
    scroll-snap-align: start;
  }
}
@media (max-width: 640px) {
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 96px));
  }
}

@keyframes scrollReverse {
  to {
    transform: translateX(calc(100% - 96px));
  }
}
