@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.hero .title {
  background: linear-gradient(to bottom, #c0c0c0 5%, #fff 35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  font-weight: 650;
  line-height: 1.1;
}
.hero .sub-title {
  background: linear-gradient(to right, #c0c0c0, #fff);
  background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
}

.scroll-container {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  /* Add pseudo-elements for the white inner shadow */
  /* Blur elements as they reach the edges */
}
.scroll-container::before, .scroll-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 170px; /* Adjust as needed for shadow size */
  pointer-events: none; /* Ensure no interference with interactions */
  z-index: 2; /* Keep it above the scrolling content */
}
.scroll-container::before {
  left: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}
.scroll-container::after {
  right: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}
.scroll-container > ul {
  animation: scroll 20s linear infinite;
  position: relative;
  z-index: 1; /* Keep the content below the pseudo-elements */
}
.scroll-container > ul li {
  transition: filter 0.3s; /* Smooth transition for the blur effect */
}

.scroll-reverse-container {
  overflow: scroll;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  /* Add pseudo-elements for the white inner shadow */
}
.scroll-reverse-container::before, .scroll-reverse-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 170px; /* Adjust as needed for shadow size */
  pointer-events: none; /* Ensure no interference with interactions */
  z-index: 2; /* Keep it above the scrolling content */
}
.scroll-reverse-container::before {
  left: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}
.scroll-reverse-container::after {
  right: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}
.scroll-reverse-container > ul {
  animation: scrollReverse 10s linear infinite;
  position: relative;
  z-index: 1;
}
.scroll-reverse-container > ul li {
  transition: filter 0.3s;
}

.about-section > ul {
  animation: scroll 30s linear infinite;
  position: relative;
  z-index: 1; /* Keep the content below the pseudo-elements */
}

.testaments {
  /*&::-webkit-scrollbar-thumb {
    color: #247;
    background-color: #247;
    width: 30px;
  }*/
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.testaments::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}
.testaments > div {
  scroll-snap-align: start;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 96px));
  }
}
@keyframes scrollReverse {
  to {
    transform: translateX(calc(100% - 96px));
  }
}/*# sourceMappingURL=App.css.map */